In [3]:
1+3 #1더하기 3은?

4

In [5]:
num = 3
print(num)

3

In [6]:
num1 = 13
num2 = 25
num3 = 77
print(num1)
print(num2)
print(num3)

13
25
77

In [8]:
num3 = 3.1425
print(num3)
num4 = 1.25

num5 = 3.0
print(num5)
num4

3.1425
3.0

1.25

In [13]:
str1 = "Funny python"
str2 = 'Easy python'
print(str1)
print(str2)
str1

Funny python
Easy python

'Funny python'

In [14]:
st = 'python \n java'
# print : tlfgod
print(st)
# 변수명 출력 : 출력
st

python
 java

'python \n java'

In [15]:
a, b = 10, 15
print(a)
print(b)

10
15

In [17]:
str1 = str2 = str3 = "phthon"
print(str1)
print(str2)
print(str3)

phthon
phthon
phthon

In [18]:
x = 100
y = 200
sum = x + y
print(sum)

300