In [3]:
s1 = "she's gone"
s2 = "she\'s gone"
print(s1)
print(s2)

she's gone
she's gone

In [4]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [6]:
# \n : 개행, 줄 바꾸기
# \ : 이스케이프 코드 - 프로그래밍할 때 사용할 수 있도록 미리 정의해둔 "문자 조합"
s3 = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s3)

여러줄로 구성된
문자열을 하나로 대입할 때

In [9]:
s4 = "온라인\t수업"
print(s4)

온라인	수업

In [11]:
s = '''여러줄로 구성된 
문자열을 하나로
대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [14]:
s = """여러줄로 구성된
문자열을 하나로
대입할 때"""
print(s)
s

여러줄로 구성된
문자열을 하나로
대입할 때

'여러줄로 구성된\n문자열을 하나로\n대입할 때'

In [13]:
s = "여러줄로 구성된 \n문자열을 하나로 \n대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [21]:
name = 'My name is JW'
print(name[0])
print(name[8])
print(name[-13])
print(name[-5])

M
i
M
i

In [29]:
name = 'My name is JW'
print(name[0:2])
print(name[3:7])
print(name[8:10])
print(name[-13:-6])
print(name[-5:])

My
name
is
My name
is JW

In [33]:
print(name[:10], 'JW', 12, 154)

My name is JW 12 154

In [41]:
dy_info = "20200706Sunny"
print("년도:", dy_info[:4] + "\n월일:", dy_info[4:8] + "\n날씨:", dy_info[8:])

년도: 2020
월일: 0706
날씨: Sunny

In [42]:
dy_info = "20210402Cloudy"
print('오늘은 {}월 {}일 입니다'.format(dy_info[4:6],dy_info[6:8]))

오늘은 04월 02일 입니다

In [46]:
day = 7
s = "오늘은 7월 %d일 입니다."%day
s

'오늘은 7월 7일 입니다.'

In [54]:
day = 8
s = "오늘은 7월 {}일 입니다.".format(day)
s

'오늘은 7월 8일 입니다.'

In [57]:
month = 4
day = 18
s = '오늘은 %d월 %d일 입니다'%(month, day)
print(s)

오늘은 4월 18일 입니다

In [60]:
month = 4
day = 2
s = "오늘은 {}월 {}일 입니다.".format(month, day)
print(s)

오늘은 4월 2일 입니다.

In [61]:
x = 100
y = 200
sum = x + y
print("{}와 {}의 합은 {}입니다.".format(x,y,sum))

100와 200의 합은 300입니다.

In [62]:
x = 100
y = 200
sum = x + y
print("%d와 %d의 합은 %d입니다."%(x,y,sum))

100와 200의 합은 300입니다.