In [2]:
num1 = 10
num2 = 7

print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [3]:
str1 = "안녕"
str2 = "하세요"

print(str1 + str2)

안녕하세요

In [4]:
str1 = "10"
str2 = "7"

print(str1 + str2)

107

In [5]:
num1 = 10
str2 = "7"

# 문자열로 통일
print(str(num1) + str2)

# 숫자열로 통일
print(num1 + int(str2))

107
17

In [6]:
num1 = 23
num2 = 3

print("더하기 결과 :", num1+num2)
print("빼기 결과 :", num1-num2)
print("곱하기 결과 :", num1*num2)
print("나누기 결과 :", num1/num2)
print("나누기(몫) 결과 :", num1//num2)
print("나누기(나머지) 결과 :", num1%num2)

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667
나누기(몫) 결과 : 7
나누기(나머지) 결과 : 2

In [7]:
num = input("정수를 입력하세요 >> ")

정수를 입력하세요 >> 133

In [8]:
num

'133'

In [9]:
# 정수로 변환
print(int(num))
# 실수로 변환
print(float(num))

133
133.0

In [10]:
num1 = int(input("정수를 입력하세요 >> "))
num2 = int(input("정수를 입력하세요 >> "))

print("더하기 결과 :", num1+num2)
print("빼기 결과 :", num1-num2)
print("곱하기 결과 :", num1*num2)
print("나누기 결과 :", num1/num2)
print("나누기(몫) 결과 :", num1//num2)
print("나누기(나머지) 결과 :", num1%num2)

정수를 입력하세요 >> 123
정수를 입력하세요 >> 23
더하기 결과 : 146
빼기 결과 : 100
곱하기 결과 : 2829
나누기 결과 : 5.3478260869565215
나누기(몫) 결과 : 5
나누기(나머지) 결과 : 8

In [11]:
num1 = int(input("python 점수 입력 >> "))
num2 = int(input("머신러닝 점수 입력 >> "))
num3 = int(input("딥러닝 점수 입력 >> "))
num4 = (num1+num2+num3)
print("합계 : {}".format(num4))
print("평균 : {}".format(num4/3))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 >> 60
합계 : 240
평균 : 80.0

In [2]:
time = int(input("시간 입력 >> "))
# hour = int(time/3600)
hour = time//3600
minute = time%3600//60
second = time%60
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >> 7533
2시간 5분 33초

In [3]:
str1 = 'x'
print(str1*10)

xxxxxxxxxx

In [4]:
str2 = "안녕하세요"
print(str2*3)

안녕하세요안녕하세요안녕하세요

In [5]:
num = int(input("정수 입력 >> "))
power = int(input("지수 입력 >> "))
print("{}의 {}승은 {}입니다.".format(num, power, num**power))

정수 입력 >> 2
지수 입력 >> 3
2의 3승은 8입니다.

In [6]:
num1 = 27
num1 += 3 # num1 = num1+3
num1 # 30

30

In [7]:
num2 = 25
num2 *=2
num2

50

In [8]:
num3 = 40
num3 %=4
num3

0

In [10]:
num4 = 58
num4 //=7
num4

8

In [11]:
# Q1
num1 = 30
num1 +=5 # 35
num1 +=5 # 40
print(num1)

40

In [12]:
# Q2
num2 = 100
num2 /= 2 # 50
num2 /= 5 # 10
print(num2)

10.0

In [13]:
a = 3
b = 7
temp = a
a = b
b = temp
print("a = {}".format(a))
print("b = {}".format(b))

a = 7
b = 3

In [14]:
a,b = b,a
print("a = {}".format(a))
print("b = {}".format(b))

a = 3
b = 7

In [17]:
a = 3
b = 7

print(a > b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True

In [18]:
a = 3
b = 7
print(not a > 7)

True

In [19]:
3 > 5 and 100 == 20

True

In [20]:
3 < 5 and 10 < 20

True

In [21]:
3 > 5 and 10 < 20

False

In [22]:
3 > 5 or 10 == 20

False

In [23]:
3 > 5 or 10 < 20

True

In [24]:
3 < 5 or 10 < 20

True

In [25]:
# 삼항연산자
score = 80
"합격" if score > 70 else "불합격"

'합격'

In [26]:
score = 60
"합격" if score > 70 else "불합격"

'불합격'

In [37]:
score = int(input("정수 입력 >> "))
result = "짝수" if score%2==0 else "홀수"
print("{}은 {}입니다.".format(score, result))

정수 입력 >> 33
33은 홀수입니다.

In [38]:
score = int(input("정수 입력 >> "))
result = "짝수" if score%2==0 else "홀수"
print("{}은 {}입니다.".format(score, result))

정수 입력 >> 22
22은 짝수입니다.

In [2]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = num1 - num2 if num1 > num2 else num2 - num1
print("두 수의 차 :", result)

첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 10
두 수의 차 : 5

In [3]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = num1 - num2 if num1 > num2 else num2 - num1
print("두 수의 차 :", result)

첫 번째 정수 입력 >> 33
두 번째 정수 입력 >> 5
두 수의 차 : 28