In [2]:
# 리스트, 튜플은 하나의 변수에 여러가지 값을 담을 수 있다.
# 많은 양의 데이터를 관리할 때 유용
# 리스트 : 순서가 있는, 수정이 가능한 객체(데이터)의 집합 []

In [2]:
list1 = [["일",1], 2, 3, '사', 5, '육']

In [3]:
print(list1)
list1

[['일', 1], 2, 3, '사', 5, '육']

[['일', 1], 2, 3, '사', 5, '육']

In [4]:
list1 = [2, 4, 6, 8, 10]

In [8]:
print(list1[0]) # 2
print(list1[1]) # 4
print(list1[4]) # 10

2
4
10

In [9]:
list3 = [1, 2, 3, 4, 5]  

 

print(list3[3])

print(list3[1:3])

print(list3[:3])

print(list3[3:])

print(list3)

4
[2, 3]
[1, 2, 3]
[4, 5]
[1, 2, 3, 4, 5]

In [6]:
list2 = [5, 7, 12, ['진', 9], 15]

In [7]:
primes = [2, 3, 5, 7]  

 

print(primes[0])

print(primes[-1])

print(primes[1] + primes[3])

2
7
10

In [8]:
print(list2[0])
print(list2[3])

5
['진', 9]

In [9]:
list2 = [1, 2, 3, ['a', 'b', 'c']]

In [10]:
temp = list2[3]

In [11]:
temp

['a', 'b', 'c']

In [12]:
list2[3][1]

'b'

In [13]:
print(list2[3][2])

c

In [14]:
list3 = [0,1,2,3,4,5,6,7,8,9]
# [이상 : 미만]
#[:num] 처음부터 num 미만까지
#[num:] num부터 끝까지
#[:] 처음부터 끝까지 = 전체출력
print(list3[2:5])
print(list3[7:9])

[2, 3, 4]
[7, 8]

In [15]:
list4 = [1,2,3]
list5 = [4,5,6]
list4 + list5

[1, 2, 3, 4, 5, 6]

In [16]:
list5 = [0,1,2,3,4]

In [17]:
# 리스트에 값 추가
# .append()
# 맨 뒤에 값이 추가
list5.append(5)

In [18]:
list5

[0, 1, 2, 3, 4, 5]

In [19]:
# 리스트에 값 추가
# .insert(원하는 위치(인덱스), 값)
# 내가 원하는 위치에 값 추가 가능
list5.insert(1, 8)
list5

[0, 8, 1, 2, 3, 4, 5]

In [20]:
# 리스트 값 수정
# 인덱싱, 슬라이싱
list5[1] = 10
list5

[0, 10, 1, 2, 3, 4, 5]

In [21]:
list5[2:4] = [7]
list5

[0, 10, 7, 3, 4, 5]

In [22]:
# 값 삭제
# del 키워드 <- 리스트 앞에 사용
# 인덱스 번호 사용
del list5[1]
list5

[0, 7, 3, 4, 5]

In [23]:
# .remove 함수
# 실제 값
print(list5)
list5.remove(4)
print(list5)

[0, 7, 3, 4, 5]
[0, 7, 3, 5]

In [24]:
# 정렬
# .sort()
# 리스트에 숫자와 문자 혼용시에는 적용할 수 없음 (리스트 안에 하나의 타입의 데이터만 있어야 함)
print(list5)
list5.sort()
print(list5)

[0, 7, 3, 5]
[0, 3, 5, 7]

In [25]:
# 역순으로 뒤집기
# .reverse()
print(list5)
list5.reverse()
print(list5)

[0, 3, 5, 7]
[7, 5, 3, 0]

In [26]:
list6 = [9,77,13,51,100,3]
list6

[9, 77, 13, 51, 100, 3]

In [27]:
# 오름차순으로 정렬
list6.sort()
# 순서 뒤집기
list6.reverse()
# 내림차순으로 정렬
print(list6)

[100, 77, 51, 13, 9, 3]

In [28]:
# 값 위치(인덱스 번호) 반환
# .index()
# 중복되는 값이 있으면 제일 앞에 있는(먼저 나온 값의) 인덱스 번호 출력
list7 = ['a', 'b', 'c', 'd', 'c', 'f']
list7.index('c')

2

In [29]:
# 마지막 값을 반환 후 리스트에서 삭제
# .pop()
list7.pop()
print(list7)

['a', 'b', 'c', 'd', 'c']

In [30]:
# 리스트의 값 개수 출력
# len()
len(list7)

5

In [31]:
tuple1 = (0,1,2,3,('a','b','c'),5)

In [32]:
# Q1
# 5 출력
# 두 가지 다른 방법으로 출력
tuple1[5]

5

In [33]:
tuple1[-1]

5

In [34]:
# Q2
# 2, 3 한 번에 출력
tuple1[2:4]

(2, 3)

In [35]:
# Q3
# 'c' 출력
tuple1[4][2]

'c'

In [36]:
# 리스트, 튜플, 문자열 모두 사용
# 있으면 Ture, 없으면 False
print(0 in tuple1)
# 있으면 False, 없으면 True
print(0 not in tuple1)

True
False

In [37]:
name = '김진우'
print('진우' in name)
print('진우' not in name)

True
False