In [2]:
num = input("정수를 입력하세요 >> ")

정수를 입력하세요 >> 133

In [3]:
num

'133'

In [4]:
num = int(input("정수를 입력하세요 >>"))
num

정수를 입력하세요 >>133

133

In [7]:
num1 = int(input("첫 번째 정수 입력 >>"))
num2 = int(input("두 번째 정수 입력 >>"))

print("더하기 결과 : {}".format(num1+num2))
print("빼기 결과 : {}".format(num1-num2))
print("곱하기 결과 : {}".format(num1*num2))
print("나누기 결과 : {}".format(num1/num2))

첫 번째 정수 입력 >>7
두 번째 정수 입력 >>3
더하기 결과 : 10
빼기 결과 : 4
곱하기 결과 : 21
나누기 결과 : 2.3333333333333335

In [8]:
python = int(input("python 점수 입력 >> "))
ml = int(input("머신러닝 점수 입력 >> "))
deep = int(input("딥러닝 점수 입력 >> "))

score = python + ml + deep
print("합계 : {}".format(score))
print("평균 : {}".format(score/3))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 100
딥러닝 점수 입력 >> 90
합계 : 290
평균 : 96.66666666666667

In [2]:
number = 0
while number <13:
    print("파이선 최고!")
    number +=1

파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!
파이선 최고!

In [4]:
while True:
    num1 = int(input("첫 번째 정수 입력 >>"))
    num2 = int(input("두 번째 정수 입력 >>"))
    
    if num1==0 and num2==0:
        break
    
    print("두 수의 합 : {}".format(num1+num2))
print("프로그램이 종료되었습니다.")

첫 번째 정수 입력 >>3
두 번째 정수 입력 >>5
두 수의 합 : 8
첫 번째 정수 입력 >>6
두 번째 정수 입력 >>6
두 수의 합 : 12
첫 번째 정수 입력 >>0
두 번째 정수 입력 >>0
프로그램이 종료되었습니다.

In [12]:
score_list = [90, 45, 70, 60, 55]
number = 1
for score in score_list:
    if score >= 60:
        result = "합격"
    else:
        result = "불합격"
    print("{}번 학생은 {} 입니다.".format(number, result))
    number += 1

1번 학생은 합격 입니다.
2번 학생은 불합격 입니다.
3번 학생은 합격 입니다.
4번 학생은 합격 입니다.
5번 학생은 불합격 입니다.

In [16]:
for i in range(1, 10, 1):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9

In [18]:
for i in range(99, 75, -1):
    print(i, end=" ")

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76

In [19]:
for i in range(23, 41): # i=index
    print(i, end=" ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [23]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i)
    print(j)

1
2
3
4
5
6

In [24]:
import random

In [26]:
com_num = random.randint(1, 50)
while True:
    num = int(input("숫자를 입력하세요 >> "))
    if num < com_num:
        print("{}보다 큰 수 입니다.".format(num))
    elif num > com_num:
        print("{}보다 작은 수 입니다.".format(num))
    else:
        print("정답입니다!!")
        break

숫자를 입력하세요 >> 25
25보다 작은 수 입니다.
숫자를 입력하세요 >> 35
35보다 작은 수 입니다.
숫자를 입력하세요 >> 30
30보다 작은 수 입니다.
숫자를 입력하세요 >> 28
28보다 작은 수 입니다.
숫자를 입력하세요 >> 20
20보다 작은 수 입니다.
숫자를 입력하세요 >> 10
10보다 큰 수 입니다.
숫자를 입력하세요 >> 15
정답입니다!!

In [27]:
start = int(input("첫 번째 정수 입력 >>"))
end = int(input("두 번째 정수 입력 >>"))

for i in range(start, end+1):
    print(i, end=" ")

첫 번째 정수 입력 >>10
두 번째 정수 입력 >>30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [30]:
add = 0
for i in range(1, 101):
    if i%3==0:
        add += i

In [31]:
add

1683

In [32]:
for i in range(1, 10):
    print("2 * {} = {}".format(i, 2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [36]:
num = int(input("정수 입력 >> "))

print("약수 :", end=" ")
for i in range(1, num+1):
    if num%i==0:
        print(i, end=" ")

정수 입력 >> 32
약수 : 1 2 4 8 16 32